name: CI

on:
  push:
    branches:
    - main
    tags:
    - '!*'
  pull_request:

jobs:
  build:
    name: Test Node.js ${{ matrix.node }} on ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        node: [18, 20, 22]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v1

    - name: Use Node.js ${{ matrix.node }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node }}

    - name: Print Node.js Version
      run: node --version

    - name: Use pnpm
      run: pnpm --version

    - name: Install Dependencies
      run: pnpm install
      env:
        CI: true

    - name: Run "build" step
      run: pnpm build
      env:
        CI: true

    - name: Run tests
      run: pnpm test
      env:
        CI: true

    - name: Maybe Release
      if: matrix.os == 'ubuntu-latest' && matrix.node == 22 && github.event_name == 'push' && github.ref == 'refs/heads/main'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        NPM_TOKEN: ${{ secrets.NPM_TOKEN_ELEVATED }}
      run: pnpm dlx semantic-release@21.1.1
